﻿@using Identity.Resources
@model Identity.UI.ViewModels.Manage.ChangeAvatarViewModel
@{
    ViewBag.Title = AccountResources.ChangeAvatar_Title;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangeAvatar", "Manage", FormMethod.Post, 
    new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h4>@AccountResources.ChangeAvatar_SubTitle</h4>

    <hr/>

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <dt>
        Avatar
    </dt>
        <dd>
            <img src="~/File?id=@Model.CurrentAvatar.FileId" alt="avatar" />
        </dd>

    <div class="form-group">
        @Html.Label("Avatar", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*<input type="file" id="Avatar" name="upload"/>*@
            <input type="file" name="@Html.NameFor(x => x.File)" id="@Html.IdFor(x => x.File)" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@AccountResources.Submit"/>
        </div>
    </div>
}