﻿@using Identity.Resources
@using Microsoft.AspNet.Identity
@model Identity.UI.ViewModels.Manage.IndexViewModel

@{
    ViewBag.Title = AccountResources.ManageIndex_Title;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@AccountResources.ManageIndex_SubTitle</h4>

    <hr />

    <p class="text-success">
        @ViewBag.StatusMessage
    </p>


    <div class="row margin-10">
        <div class="col-md-3 text-bold text-right">
            @AccountResources.Password:
        </div>
        <div class="col-md-9">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(@AccountResources.ChangeYourPassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(@AccountResources.Create, "SetPassword")
            }
            ]
        </div>
    </div>
    
    @*<div class="row margin-10">
        <div class="col-md-3 text-bold text-right">
            @AccountResources.ExternalLogins:
        </div>
        <div class="col-md-9">
            @Model.Logins.Count [
            @Html.ActionLink(@AccountResources.Manage, "ManageLogins") ]
        </div>
    </div>

    <div class="row margin-10">
        <div class="col-md-3 text-bold text-right">
            @AccountResources.PhoneNumber:
        </div>
        <div class="col-md-9">
            @(Model.PhoneNumber ?? AccountResources.None) [
            @if (Model.PhoneNumber != null)
            {
                @Html.ActionLink(@AccountResources.Change, "AddPhoneNumber")
                @: &nbsp;|&nbsp;
                @Html.ActionLink(@AccountResources.Remove, "RemovePhoneNumber")
            }
            else
            {
                @Html.ActionLink(@AccountResources.Add, "AddPhoneNumber")
            }
            ]
        </div>
    </div>
    *@

    <div class="row margin-10">
        <div class="col-md-3 text-bold text-right line-height-adjuster">
            @AccountResources.TwoFactorAuthentication:
        </div>
        <div class="col-md-9">
            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>
                        <span class="line-height-adjuster">@AccountResources.Enable</span>
                        <input type="submit" value="@AccountResources.Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>
                        <input type="submit" value="@AccountResources.Enable" class="btn btn-link" />
                        <span class="line-height-adjuster">@AccountResources.Disabled</span>
                    </text>
                }
            }
        </div>
    </div>
    <div class="row margin-10">
        <div class="col-md-offset-3 col-md-9">
            @Html.Gravatar(User.Identity.GetUserName(), 120)
        </div>
    </div>
</div>