﻿
<div class="col-lg-12 appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" style="z-index:6; position:relative;">
    <div class="row">
        <section class="panel panel-featured panel-featured-success">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>
                <span class="fa fa-check text-success fa-3x pull-left"></span>
                <h2 class="panel-title">Welcome!</h2>
                <p class="panel-subtitle"><strong>Please upgrade to Immigrant to become a full member in this community.</strong></p>
            </header>
            <div class="panel-body">
                <!--
                <p>Is this your correct referrer? <strong>"joinus"</strong>. If not, please send us <a href="https://bitregion.com/Create/Ticket">a ticket</a> to change your referrer.</p>
                -->
                <p>Is this your correct referrer? <strong>"joinus"</strong>. If not, please <a href="#UpdateReferrer" class="btn btn-warning btn-xs modal-referrer update_referrer" style="color:#FFF;" data-id="" data-value="">Click Here</a> to change your referrer.</p>
                <div class="alert alert-success appear-animation fadeInUp appear-animation-visible" data-appear-animation="fadeInUp"><strong>Please purchase 1 passport first to upgrade to Level 1 (to become our full member)</strong></div>
                <p><strong>The promotion of FREE Passport has ended. Please purchase a passport to start, and ensure the referrer / introducer is right before upgrading to Level 1 - Immigrant.<br> Also, please don't get confused regarding the passport fee and the upgrade fee.</strong></p>

                <a href="https://bitnate.com/members/assistant" class="btn btn-success pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span> Provide Assistance Now (pay registration 'upgrade' fee to join the community and unlock all benefits in Bitregion)</a>
            </div>
        </section>
    </div>
</div>