﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Placement Position</h4>
        </div>
        <div class="modal-body">
            <div class="col-sm-4">
                <div class="well">
                    <div class="radio">
                        <label>
                            <input type="radio" name="referrer" id="default" value="default">
                            Auto
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="referrer" id="manual" value="manual" checked="">
                            Manual
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="well">

                    <div class="form-group" id="default-placement" style="display: none;">
                        <div class="mb-md ">
                            Auto Placement
                        </div>
                    </div>

                    <div class="form-group" id="manual-placement" style="display: block;">
                        <div class="mb-md ">
                            <div class="input-group ">
                                <span class="input-group-addon ">Username</span>
                                <input type="text" name="upline" id="upline" class="form-control">
                                <span class="input-group-addon">
                                    <span id="usericon" class="icon"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="position" style="display: none;">
                        <label class="col-md-3 control-label" for="inputDefault">Position</label>
                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="position" id="post1" class="manual_position" value="1">
                                    Left
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="position" id="post2" class="manual_position" value="2">
                                    Center
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="position" id="post3" class="manual_position" value="3">
                                    Right
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="#" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#upgradeModal" id="upgradecontinue" disabled="disabled">Continue</a>
        </div>

    </div>
    <!-- /.modal-content -->
</div>