﻿@using Identity.Resources
@using Identity.UI.ViewModels.Account
@model Identity.UI.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = AccountResources.Login_Title;
}

<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h4>@AccountResources.Login</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = true, placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-block">@AccountResources.Login</button>
                <div class="col-md-offset-3 col-md-9 inline-checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        }

        <div class="center-block">
            <ul class="list-inline text-center">
                <li>
                    <a href="@Url.Action("Register")" class="btn btn-default">
                        <i class="fa fa-pencil-square"></i>
                        @AccountResources.Login_RegisterAsANewUser
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("ForgotPassword")">
                        <i class="fa fa-lightbulb-o"></i>
                        @AccountResources.Login_ForgotPassword
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
