﻿@using Cage.Core
@using Identity.Resources
@model Identity.UI.ViewModels.Account.RegisterViewModel

@{
    ViewBag.Title = AccountResources.Register_Title;
}

<div class="row">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post,
                                                                    new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <h4>@AccountResources.Register_SubTitle</h4>

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = true, placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="display: block;">
                @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                <div class="input-group col-md-9">
                    @Html.TextBoxFor(m => m.UserName, new
               {
                   @class = "form-control",
                   id = "username"
               })
                    <span class="input-group-addon">
                        <span id="usericon" class="icon"></span>
                    </span>
                </div>
            </div>

            <div class="form-group" style="display: block;">
                @Html.LabelFor(m => m.Referrer, new { @class = "col-md-3 control-label" })
                <div class="input-group col-md-9">
                    @Html.TextBoxFor(m => m.Referrer, new
               {
                   @class = "form-control",
                   id = "referrer"
               })
                    <span class="input-group-addon">
                        <span id="referrericon" class="icon"></span>
                    </span>
                </div>
            </div>

            <div class="form-group" style="display: block;">
                @Html.LabelFor(m => m.Consultant, new { @class = "col-md-3 control-label" })
                <div class="input-group col-md-9">
                    @Html.TextBoxFor(m => m.Consultant, new
               {
                   @class = "form-control",
                   id = "consultant"
               })
                    <span class="input-group-addon">
                        <span id="consultanticon" class="icon"></span>
                    </span>
                </div>
            </div>

            <div class="center-block">
                <input type="submit" class="btn btn-default center-block" value="@AccountResources.Register" />
            </div>
        }
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/site.register/js")
}