﻿@using Identity.Resources
@model Identity.UI.ViewModels.Account.SendCodeViewModel

@{
    ViewBag.Title = "Send Verification Message";
}

<h2>Just one more step...</h2>

<h4>We have sent the verification message to your inbox. Confirm your email and you'll be ready to explore our site.</h4><br/><br/>