﻿@using Identity.Resources
@model Identity.UI.ViewModels.Account.VerifyFromURLViewModel

@{
    ViewBag.Title = "Sign in confirmation.";
}

<h2>Thank you for confirming your sign in.</h2>

@if (Model.VerifiedStatus)
{
    <h5 class="alert alert-success">@Model.VerifiedMessage</h5>
}
else
{
    <h5 class="alert alert-danger">@Model.VerifiedMessage</h5>
}