﻿/*
** These would probably be better of imported from the Bootstrap .less files
*/
.margin-top-05 {
  margin-top: 0.5em;
}
.margin-top-10 {
  margin-top: 1.0em;
}
.margin-top-15 {
  margin-top: 1.5em;
}
.margin-top-20 {
  margin-top: 2.0em;
}
.margin-bottom-05 {
  margin-bottom: 0.5em;
}
.margin-bottom-10 {
  margin-bottom: 1.0em;
}
.margin-bottom-15 {
  margin-bottom: 1.5em;
}
.margin-bottom-20 {
  margin-bottom: 2.0em;
}
.margin-05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.margin-10 {
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}
.margin-15 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.margin-20 {
  margin-top: 2.0em;
  margin-bottom: 2.0em;
}
.margin-left-10 {
  margin-left: 1.0em;
}
.margin-right-10 {
  margin-left: 1.0em;
}
.text-bold {
  font-weight: bold;
}
.text-hint {
  font-weight: normal;
  font-size: 0.9em;
  color: #777777;
}
.line-height-adjuster {
  line-height: 34px;
}
.form-group.form-group-inline {
  margin-left: 0;
}
.inline-checkbox.form-group {
  margin-left: 0;
}
.inline-checkbox label {
  font-weight: normal;
  margin-left: 0.5em;
}
.table.table-properties tbody td:first-child {
  background-color: #fafafa;
  color: #777777;
}
.btn-red {
  color: #fff;
  font-weight: bold;
  padding-left: 3.0em;
  padding-right: 3.0em;
  background: #f51d1d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f51d1d 0%, #c60505 38%, #c60505 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f51d1d), color-stop(38%, #c60505), color-stop(100%, #c60505));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f51d1d 0%, #c60505 38%, #c60505 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f51d1d 0%, #c60505 38%, #c60505 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f51d1d 0%, #c60505 38%, #c60505 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f51d1d 0%, #c60505 38%, #c60505 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f51d1d', endColorstr='#c60505', GradientType=0);
  /* IE6-9 */
}
.btn-red:hover {
  color: #fff;
}
.data-grid + .sort-order {
  margin-top: -15px;
  margin-bottom: 15px;
}
.row-menu {
  width: 4.0em;
  text-align: center;
}
.paging-info-controls .control-wrapper {
  text-align: center;
}
.paging-info-controls .form-group {
  display: inline-block;
}
.paging-info-controls .form-control {
  display: inline-block;
}
.paging-info-controls .total-pages {
  display: inline-block;
  margin: 0 3.0em 0 0.5em;
  line-height: 2.5em;
}
.paging-info-controls input[type='number'] {
  width: 5.0em;
  text-align: center;
}
.paging-info-controls select {
  width: 5.0em;
}
.sort-expression-link {
  text-decoration: none !important;
}
.sort-expression-link .indicator {
  display: inline-block;
  margin-left: 0.3em;
  color: #777;
}
.sort-expression-link .indicator.fa-sort {
  color: #bbb;
}
.date-time-selector {
  display: inline-block;
}
.date-time-selector .date {
  float: left;
  display: inline-block;
  width: 9.0em;
  margin-right: 0.5em;
}
.date-time-selector .time {
  float: left;
  display: inline-block;
  width: 5.0em;
  margin-right: 0.5em;
}
.field-validation-indicator .success {
  color: #0c0;
}
.field-validation-indicator .failure {
  color: #c00;
}
.field-validation-indicator span {
  display: none;
}
.character-counter {
  color: #777777;
  margin: 0.1em 0 0.1em 1.0em;
  font-size: 0.9em;
}
body {
  padding-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gravatar {
  border-radius: 5px;
}
#main {
  position: relative;
  padding: 0 15px;
}
header {
  position: relative;
}
header h1 {
  margin-top: 0;
  font-size: 2.8em;
  font-weight: 300;
  text-transform: uppercase;
  color: #aaaaaa;
  text-align: center;
  border-bottom: none;
}
header h1 > a {
  color: #aaaaaa !important;
  text-decoration: none !important;
}
header .partial-login {
  position: absolute;
  top: 15px;
  right: 30px;
}
header .btn,
header .btn-default {
  color: #aaaaaa;
}
.body-content {
  margin-top: 60px;
}
/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical;
}
.marketing-jump-list {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.marketing-jump-list > ul {
  display: inline-block;
}
#masonry-grid {
  position: relative;
  margin: 2.0em auto 0;
  height: 300px;
  width: 100%;
}
#masonry-grid .grid-sizer,
#masonry-grid .grid-item,
#masonry-grid .grid-stamp {
  width: 234px;
}
#masonry-grid .grid-stamp {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  background: #9e0b0f;
  border-radius: 5px;
  margin-bottom: 20px;
  z-index: 99;
}
#masonry-grid .grid-stamp a {
  color: #fff;
  text-decoration: none;
}
#masonry-grid .grid-stamp a:hover {
  color: #d9d9d9;
}
#masonry-grid .grid-stamp .title {
  margin: 1.0em;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
#masonry-grid .grid-stamp .pre-title {
  font-size: 0.85em;
}
#masonry-grid .grid-stamp .main-title {
  font-size: 1.8em;
}
#masonry-grid .grid-stamp .link {
  font-size: 1.1em;
}
#masonry-grid .gutter-sizer {
  width: 10px;
}
#masonry-grid .grid-item {
  position: absolute;
  top: -500px;
  left: -500px;
  background: #fafafa;
  border: 2px solid #333333;
  border-color: #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
#masonry-grid .grid-item .grid-content {
  margin: 15px;
  text-align: center;
}
#masonry-grid .grid-item .label {
  position: absolute;
  left: 1.0em;
  top: 1.0em;
  display: inline-block;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9em;
  border: solid 2px #fff;
}
#masonry-grid .grid-item .promo-image {
  background-color: #ccc;
  border: solid 1px #ccc;
  border-radius: 3px;
}
#masonry-grid .grid-item .title {
  margin: 1.0em 0;
  color: #000;
  font-weight: bold;
}

.qrcode {
    width:80%;
    margin-left:25px;
}

@media (max-width: 767px) {
    .qrcode {
        width:100%;
        margin-left:0 !important;
    }

    .payment-waiting-text {
        text-align:center !important;
    }
}