﻿p5{    
    font-size: 35px !important;
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
    /*font-weight:800;*/
    top:-50px;
}

.flex-caption1 {
    zoom: 0;
    color: #1C1D21;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    vertical-align: bottom;
    text-align: center;
    background-color: rgba(115, 216, 237, 0.27);
    bottom: 0px;
    display: block;
    left: 0px;
    right: 0;
    width: 1350px;
    text-align: center;
}

    .flex-caption1 h3 {
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 8px;
        text-transform: uppercase;
        text-align: center;
    }

    .flex-caption1 p {
        margin: 0 0 15px;
    }

.flex-caption2 {
    zoom: 0;
    color: #1C1D21;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    vertical-align: bottom;
    text-align: center;
    background-color: rgba(115, 216, 237, 0.27);
    bottom: 0px;
    display: block;
    left: 0px;
    right: 0;
    width: 1350px;
    text-align: center;
}

    .flex-caption2 h3 {
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 8px;
        text-transform: uppercase;
        text-align: center;
    }

    .flex-caption2 p {
        margin: 0 0 15px;
    }

.flex-caption3 {
    zoom: 0;
    color: #1C1D21;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    vertical-align: bottom;
    text-align: center;
    background-color: rgba(115, 216, 237, 0.27);
    bottom: 0px;
    display: block;
    left: 0px;
    right: 0;
    width: 1350px;
    text-align: center;
}

    .flex-caption3 h3 {
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 8px;
        text-transform: uppercase;
        text-align: center;
    }

    .flex-caption3 p {
        margin: 0 0 15px;
    }


.skill-home {
    margin-bottom: 50px;
}

item_introtext {
    /* background-color: rgba(254, 254, 255, 0.66); */
    margin: 0 auto;
    display: inline-block;
    padding: 25px;
    color: #fff;
    text-align: center;
}

.item_introtext span {
    font-size: 20px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.item_introtext strong {
    font-size: 50px;
    display: block;
    padding: 14px 0 30px;
    text-align: center;
}

/*.item_introtext p {
    font-size: 20px !important;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}*/



