﻿/* Add here all your CSS customizations */
/* Add here all your CSS customizations */
@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
/* creates triangle */
/* creates triangle */
.net_first {
  height: 150px;
  vertical-align: top;
}
.net_second {
  height: 160px;
  vertical-align: top;
}
.net_second .img-rounded {
  width: 80px;
}
.net_third .img-rounded {
  width: 50px;
}
.net_forth .img-rounded {
  width: 20px;
}
.net_forth td {
  vertical-align: top;
}
.first_line {
  width: 67%;
  border-top: thin solid #CCC;
  margin-left: auto;
  margin-right: auto;
}
.verticle_line {
  width: 1px;
  height: 40px;
  border-left: thin solid #CCC;
  margin-left: auto;
  margin-right: auto;
}
.ver_mid {
  margin-top: -20px;
  height: 60px;
}
.verticle_line_forth {
  width: 1px;
  height: 35px;
  border-left: thin solid #CCC;
  margin-left: auto;
  margin-right: auto;
}
.ver_mid_forth {
  margin-top: -10px;
  height: 45px;
}
.bor_dark {
  border: thin solid #666;
}
a.seemore:hover .img-rounded {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
#navigation {
  position: absolute;
  margin-top: -160px;
  margin-left: -50px;
}
#ref_generation ul {
  margin: 0;
  padding: 0;
}
#ref_generation ul li {
  list-style-type: none;
}
#ref_generation ul li a {
  background-color: #333;
  display: block;
  padding: 15px;
  color: #FFF;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background-color: #000;
}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
}
.qrcode {
  width: 80%;
  margin-left: 25px;
}
.video_overlay {
  background-image: url('../../../assets/images/dot.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.payment-waiting {
  width: 100%;
  height: 10px;
}
.payment-waiting-text {
  text-align: left;
}
tr.moreinfo:hover td {
  cursor: pointer;
  background-color: #EEEEEE !important;
}
tr.primary.moreinfo:hover td {
  cursor: pointer;
  background-color: #EEEEEE !important;
  color: #777;
}
.verified_icon_id_l1 {
  width: 33px;
  height: 26px;
  background-color: #F00;
  position: absolute;
  margin-left: 120px;
}
.verified_icon_ph_l1 {
  width: 33px;
  height: 26px;
  background-color: #F00;
  position: absolute;
  margin-left: 120px;
  margin-top: 30px;
}
.verified_icon_id_l2 {
  width: 30px;
  height: 22px;
  position: absolute;
  margin-left: 80px;
}
.verified_icon_ph_l2 {
  width: 30px;
  height: 22px;
  position: absolute;
  margin-left: 80px;
  margin-top: 25px;
}
.verified_icon_id_l3 {
  width: 20px;
  height: 14px;
  position: absolute;
  margin-left: 51px;
}
.verified_icon_ph_l3 {
  width: 20px;
  height: 14px;
  position: absolute;
  margin-left: 51px;
  margin-top: 15px;
}
.classbadge_l2 {
  position: absolute;
  margin-left: 11px;
  margin-top: -25px;
  width: 40px;
}
.classbadge_l3 {
  position: absolute;
  margin-left: 11px;
  margin-top: -35px;
  width: 25px;
}
.classbadge_l4 {
  position: absolute;
  margin-left: 0;
  margin-top: -30px;
  width: 15px;
}
.classbadge {
  position: absolute;
  margin-left: -10px;
  margin-top: 15px;
  width: 15px;
}
.movepair-left {
  cursor: pointer !important;
  font-size: 20px !important;
}
.movepair-left:hover {
  cursor: pointer !important;
  color: #000;
}
.movepair-right {
  cursor: pointer !important;
  font-size: 20px !important;
}
.movepair-right:hover {
  cursor: pointer !important;
  color: #000;
}
.toggletableclass {
  display: none;
}
#darkoverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 5;
  display: none;
}
* {
  box-sizing: border-box;
}
#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#wrapper.toggled {
  padding-right: 0px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 280px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  padding-right: 15px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 280px;
  width: 0;
  height: 100%;
  margin-right: -280px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fefefe;
  top: 113px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#chat-wrapper {
  z-index: 999;
  position: fixed;
  right: 0;
  width: 300px;
  height: calc(-13%);
  margin-right: -300px;
  overflow: hidden;
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  top: 113px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#chat-wrapper.toggled {
  right: 580px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 115px 15px 15px 15px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 10px;
  border-bottom: 1px solid #e9e9e9;
  padding: 12px 15px 14px 15px;
  min-height: 40px;
  line-height: 14px !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
  padding-top: 2px;
  position: relative;
}
.sidebar-nav li a .sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active {
  text-decoration: none;
}
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav li a:hover.small-btn {
  color: #333;
}
.sidebar-nav li a.small-btn {
  font-size: 14px;
  text-decoration: none;
  color: #ccc;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-nav li a.control-btn {
  position: absolute;
  right: 5px;
  top: 8px;
}
.sidebar-nav li.online:hover {
  background: #f0f0f0;
  border-bottom: 1px solid #e2a129;
}
.sidebar-nav li.online:focus {
  border-bottom: 1px solid #e2a129;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
}
.sidebar-nav li.online span.status i {
  color: green;
}
.sidebar-nav li.offline:hover {
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
}
.sidebar-nav li.offline span.status i {
  color: #e0e0e0;
}
.sidebar-nav li.offline span img {
  opacity: 0.5;
}
.sidebar-nav > .sidebar-brand {
  position: relative;
  padding-top: 17px;
  height: 50px;
  font-size: 18px;
  line-height: 25px;
  font-family: "Montserrat";
  border-bottom: 2px solid #ccc;
  padding-left: 0;
  background: #222222;
}
.sidebar-nav > .sidebar-brand span {
  color: #777;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
}
.sidebar-nav a.groupclass {
  display: block;
  background-color: #eee;
  padding: 5px 15px 5px 15px;
  color: #999;
  text-decoration: none;
  font-size: 12px;
}
.chat-header {
  background: #f6f6f6;
  height: 50px;
  padding: 10px 0 0 10px;
  border-bottom: 2px solid #ddd;
  line-height: 14px !important;
}
.chat-header .profile-thumb > img {
  line-height: 32px;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: 0;
}
.chat-header a {
  display: block;
  text-decoration: none;
  color: #999;
  padding-top: 2px;
  position: relative;
}
.chat-header .name {
  padding-left: 10px;
}
.chat-header a.control-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 10px;
}
.name {
  font-size: 12px;
}
.rank {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 10px;
  color: #333;
}
.profile-thumb {
  float: left;
  display: inline-block;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
}
.profile-thumb > img {
  line-height: 32px;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: -10px;
}
.status {
  position: absolute;
  right: 0;
  top: 10px;
}
li.offline a {
  opacity: 0.5;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.white-text {
  color: #fff !important;
}
.grey-text {
  color: #777;
}
i.pull-right {
  float: right;
}
.bg-green {
  background-color: #10cfbd;
}
.green-text {
  color: #e2a129;
}
.blue-text {
  color: #e2a129;
}
.brand-logo {
  float: left;
  margin-top: -17px;
  margin-left: 13px;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.minimize {
  z-index: 1001;
}
.online-status {
  bottom: 0;
  right: 50px;
  margin-left: -200px;
  overflow: hidden;
  padding: 10px 15px;
  position: fixed;
  width: 200px;
  z-index: 1001;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.online-status a {
  color: #e2a129;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.online-status a:hover {
  color: #fff;
  text-decoration: none;
}
.online-status a i {
  margin-top: 5px;
}
.online-status.toggled {
  bottom: -50px;
}
.brand-title {
  margin-left: 5px;
}
.maximize {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
#chat-content {
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.fixedContent {
  float: left;
  background: #d3d3d3;
  background: -moz-linear-gradient(top, #d3d3d3 0%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top, #d3d3d3 0%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #d3d3d3 0%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#f9f9f9', GradientType=0);
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: auto;
  padding: 10px 10px 30px;
  height: -moz-calc(20%);
  height: -webkit-calc(20%);
  height: -o-calc(20%);
  height: calc(20%);
}
.chatbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.userinput {
  color: #666;
  width: 100%;
  outline: none;
  display: block;
  resize: none;
  padding: 7px 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
}
.messages {
  color: #333;
  line-height: 1.28;
  padding: 5px 10px;
  font-size: 14px;
  display: block;
  border-radius: 8px;
  margin-bottom: 10px;
  clear: both;
}
.from-mex {
  float: right;
  background: #daeffd;
  color: #2c2c2c;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, 0.07);
  margin-left: 35px;
}
.from-me {
  position: relative;
  padding: 10px;
  margin: 1em 0 10px;
  color: #FFF;
  background: #e2a129;
  border-radius: 5px;
  float: right;
  min-width: 200px;
  font-size: 12px;
}
.from-me:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  right: 5px;
  width: 0;
  border-width: 0 10px 10px 0;
  border-style: solid;
  border-color: transparent #e2a129;
}
.to-mex {
  float: left;
  background: #FFFFFF;
  color: #2c2c2c;
  position: relative;
  opacity: 0.8;
  border: 1px solid #ddd;
  margin-right: 35px;
}
.to-me {
  position: relative;
  padding: 10px;
  margin: 1em 0 10px;
  color: #000;
  background: #ffffff;
  border-radius: 5px;
  float: left;
  min-width: 200px;
  font-size: 12px;
}
.to-me:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 5px;
  width: 0;
  border-width: 0 0 10px 10px;
  border-style: solid;
  border-color: transparent #ffffff;
}
.typing {
  padding: 0 20px 5px 0;
  font-size: 11px;
  color: #aaa;
  float: right;
}
.userwrap {
  position: relative;
}
.user {
  padding: 5px;
  font-size: 12px;
  color: #888;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
}
.messagetime {
  font-size: 9px;
}
.loadmorebutton {
  clear: both;
  background-color: #EEE;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.chatdate {
  clear: both;
  padding: 10px;
  color: #999;
  font-size: 9px;
  margin-bottom: 10px;
  text-align: center;
}
.ranktab .red {
  background-color: #ffcccc;
}
.ranktab .orange {
  background-color: #ffe0b3;
}
.ranktab .grey {
  background-color: #eee;
  font-weight: bold;
}
.ref_pointer {
  position: absolute;
  margin-left: -30px;
  margin-top: -25px;
  height: 37px;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../../../assets/videos/city_screenshot.jpg') center center / cover no-repeat;
  }
  .fullscreen-bg__video {
    display: none;
  }
  .qrcode {
    width: 100%;
    margin-left: 0 !important;
  }
  .payment-waiting-text {
    text-align: center !important;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #wrapper {
    padding-right: 0;
  }
  #wrapper.toggled {
    padding-right: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 80px;
    top: 60px;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    padding-right: 20px;
  }
  #sidebar-wrapper {
    width: 0;
    top: 60px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #chat-wrapper {
    top: 60px;
    height: calc(40%);
  }
  #chat-wrapper.toggled {
    right: 380px;
    top: 60px;
  }
  .sidebar-nav li a {
    padding-bottom: 9px;
  }
  .sidebar-nav li a.control-btn {
    position: absolute;
    left: 25px;
    top: 8px;
  }
  .name {
    display: none;
  }
  .rank {
    display: none;
  }
  .brand-title {
    display: none;
  }
  .user-online {
    display: none;
  }
  .status {
    position: absolute;
    left: 22px;
    top: 10px;
  }
  .online-status {
    width: 85px;
    right: 5px;
  }
  .online-status a i {
    margin-top: 5px;
  }
  .extrastats {
    display: none;
  }
}
@media (max-width: 480px) {
  #sidebar-wrapper {
    top: 0;
  }
  #wrapper #sidebar-wrapper li {
    display: none;
  }
  #wrapper.toggled {
    margin-left: -480px;
    padding-right: 480px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 100%;
    top: 0;
  }
  #wrapper.toggled #sidebar-wrapper li {
    display: block;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  .sidebar-nav {
    width: 100%;
  }
  .user-online {
    display: none;
  }
  .online-status {
    width: 85px;
    right: 5px;
  }
  .online-status a i {
    margin-top: 5px;
  }
  #chat-wrapper {
    z-index: 1001;
    width: 100%;
    left: -480px;
    right: 0;
    top: 0;
    height: 100%;
  }
  #chat-wrapper.toggled {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
  }
}