﻿@color_1: #FFF;
@color_2: #777;
@color_3: #000;
@color_4: #999;
@color_5: #fff;
@color_6: #333;
@color_7: green;
@color_8: #e0e0e0;
@color_9: #e2a129;
@color_10: #ccc;
@color_11: #666;
@color_12: #2c2c2c;
@color_13: #aaa;
@color_14: #888;
@font_family_1: "Montserrat";
@font_family_2: "Montserrat", sans-serif;
@background_color_1: #333;
@background_color_2: #000;
@background_color_3: #EEEEEE;
@background_color_4: #F00;
@background_color_5: #eee;
@background_color_6: #10cfbd;
@background_color_7: #EEE;
@background_color_8: #ffcccc;
@background_color_9: #ffe0b3;
@border_color_1: transparent #e2a129;
@border_color_2: transparent #ffffff;

/* Add here all your CSS customizations */
/* Add here all your CSS customizations */
@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
/* creates triangle */
/* creates triangle */
.net_first {
	height: 150px;
	vertical-align: top;
}
.net_second {
	height: 160px;
	vertical-align: top;
	.img-rounded {
		width: 80px;
	}
}
.net_third {
	.img-rounded {
		width: 50px;
	}
}
.net_forth {
	.img-rounded {
		width: 20px;
	}
	td {
		vertical-align: top;
	}
}
.first_line {
	width: 67%;
	border-top: thin solid #CCC;
	margin-left: auto;
	margin-right: auto;
}
.verticle_line {
	width: 1px;
	height: 40px;
	border-left: thin solid #CCC;
	margin-left: auto;
	margin-right: auto;
}
.ver_mid {
	margin-top: -20px;
	height: 60px;
}
.verticle_line_forth {
	width: 1px;
	height: 35px;
	border-left: thin solid #CCC;
	margin-left: auto;
	margin-right: auto;
}
.ver_mid_forth {
	margin-top: -10px;
	height: 45px;
}
.bor_dark {
	border: thin solid #666;
}
a.seemore {
	&:hover {
		.img-rounded {
			-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
		}
	}
}
#navigation {
	position: absolute;
	margin-top: -160px;
	margin-left: -50px;
}
#ref_generation {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			a {
				background-color: @background_color_1;
				display: block;
				padding: 15px;
				color: @color_1;
			}
		}
	}
}
.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	background-color: @background_color_2;
}
.fullscreen-bg__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .3;
}
.qrcode {
	width: 80%;
	margin-left: 25px;
}
.video_overlay {
	background-image: url('../../../assets/images/dot.png');
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.payment-waiting {
	width: 100%;
	height: 10px;
}
.payment-waiting-text {
	text-align: left;
}
tr.moreinfo {
	&:hover {
		td {
			cursor: pointer;
			background-color: @background_color_3 !important;
		}
	}
}
tr.primary.moreinfo {
	&:hover {
		td {
			cursor: pointer;
			background-color: @background_color_3 !important;
			color: @color_2;
		}
	}
}
.verified_icon_id_l1 {
	width: 33px;
	height: 26px;
	background-color: @background_color_4;
	position: absolute;
	margin-left: 120px;
}
.verified_icon_ph_l1 {
	width: 33px;
	height: 26px;
	background-color: @background_color_4;
	position: absolute;
	margin-left: 120px;
	margin-top: 30px;
}
.verified_icon_id_l2 {
	width: 30px;
	height: 22px;
	position: absolute;
	margin-left: 80px;
}
.verified_icon_ph_l2 {
	width: 30px;
	height: 22px;
	position: absolute;
	margin-left: 80px;
	margin-top: 25px;
}
.verified_icon_id_l3 {
	width: 20px;
	height: 14px;
	position: absolute;
	margin-left: 51px;
}
.verified_icon_ph_l3 {
	width: 20px;
	height: 14px;
	position: absolute;
	margin-left: 51px;
	margin-top: 15px;
}
.classbadge_l2 {
	position: absolute;
	margin-left: 11px;
	margin-top: -25px;
	width: 40px;
}
.classbadge_l3 {
	position: absolute;
	margin-left: 11px;
	margin-top: -35px;
	width: 25px;
}
.classbadge_l4 {
	position: absolute;
	margin-left: 0;
	margin-top: -30px;
	width: 15px;
}
.classbadge {
	position: absolute;
	margin-left: -10px;
	margin-top: 15px;
	width: 15px;
}
.movepair-left {
	cursor: pointer !important;
	font-size: 20px !important;
	&:hover {
		cursor: pointer !important;
		color: @color_3;
	}
}
.movepair-right {
	cursor: pointer !important;
	font-size: 20px !important;
	&:hover {
		cursor: pointer !important;
		color: @color_3;
	}
}
.toggletableclass {
	display: none;
}
#darkoverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: @background_color_2;
	opacity: 0.3;
	z-index: 5;
	display: none;
}
* {
	box-sizing: border-box;
}
#wrapper {
	padding-right: 0;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#wrapper.toggled {
	padding-right: 0px;
	#sidebar-wrapper {
		width: 280px;
	}
	#page-content-wrapper {
		position: absolute;
		padding-right: 15px;
	}
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	right: 280px;
	width: 0;
	height: 100%;
	margin-right: -280px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fefefe;
	top: 113px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#chat-wrapper {
	z-index: 999;
	position: fixed;
	right: 0;
	width: 300px;
	height: calc(100% - 113px);
	margin-right: -300px;
	overflow: hidden;
	background: #fff;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	top: 113px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#chat-wrapper.toggled {
	right: 580px;
}
#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 115px 15px 15px 15px;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 280px;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		text-indent: 10px;
		border-bottom: 1px solid #e9e9e9;
		padding: 12px 15px 14px 15px;
		min-height: 40px;
		line-height: 14px !important;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		a {
			display: block;
			text-decoration: none;
			color: @color_4;
			padding-top: 2px;
			position: relative;
			.sidebar-nav {
				li {
					a {
						&:hover {
							text-decoration: none;
							color: @color_5;
							background: rgba(255,255,255,0.2);
						}
					}
				}
			}
			&:active {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
			&:hover.small-btn {
				color: @color_6;
			}
		}
		a.small-btn {
			font-size: 14px;
			text-decoration: none;
			color: @color_10;
			padding: 10px;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		a.control-btn {
			position: absolute;
			right: 5px;
			top: 8px;
		}
	}
	li.online {
		&:hover {
			background: #f0f0f0;
			border-bottom: 1px solid #e2a129;
		}
		&:focus {
			background: #f0f0f0;
			border-bottom: 1px solid #e2a129;
			background: #f0f0f0;
			border-bottom: 1px solid #ccc;
		}
		span.status {
			i {
				color: @color_7;
			}
		}
	}
	li.offline {
		&:hover {
			background: #f0f0f0;
			border-bottom: 1px solid #ccc;
		}
		span.status {
			i {
				color: @color_8;
			}
		}
		span {
			img {
				opacity: 0.5;
			}
		}
	}
	>.sidebar-brand {
		position: relative;
		padding-top: 17px;
		height: 50px;
		font-size: 18px;
		line-height: 25px;
		font-family: @font_family_1;
		border-bottom: 2px solid #ccc;
		padding-left: 0;
		background: #222222;
		span {
			color: @color_2;
		}
		a {
			&:hover {
				color: @color_5;
			}
		}
	}
	a.groupclass {
		display: block;
		background-color: @background_color_5;
		padding: 5px 15px 5px 15px;
		color: @color_4;
		text-decoration: none;
		font-size: 12px;
	}
}
.chat-header {
	background: #f6f6f6;
	height: 50px;
	padding: 10px 0 0 10px;
	border-bottom: 2px solid #ddd;
	line-height: 14px !important;
	.profile-thumb {
		>img {
			line-height: 32px;
			vertical-align: middle;
			width: 100%;
			height: 100%;
			text-align: center;
			margin-left: 0;
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: @color_4;
		padding-top: 2px;
		position: relative;
	}
	.name {
		padding-left: 10px;
	}
	a.control-btn {
		position: absolute;
		right: 5px;
		top: 5px;
		padding: 10px;
	}
}
.name {
	font-size: 12px;
}
.rank {
	font-family: @font_family_2;
	font-size: 11px;
	text-transform: uppercase;
	padding-left: 10px;
	color: @color_6;
}
.profile-thumb {
	float: left;
	display: inline-block;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border-radius: 25%;
	-webkit-border-radius: 25%;
	-moz-border-radius: 25%;
	>img {
		line-height: 32px;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		text-align: center;
		margin-left: -10px;
	}
}
.status {
	position: absolute;
	right: 0;
	top: 10px;
}
li.offline {
	a {
		opacity: 0.5;
	}
}
.fs-10 {
	font-size: 10px;
}
.fs-11 {
	font-size: 11px;
}
.fs-12 {
	font-size: 12px;
}
.fs-13 {
	font-size: 13px;
}
.fs-14 {
	font-size: 14px;
}
.fs-16 {
	font-size: 16px;
}
.fs-18 {
	font-size: 18px;
}
.fs-20 {
	font-size: 20px;
}
.white-text {
	color: @color_5 !important;
}
.grey-text {
	color: @color_2;
}
i.pull-right {
	float: right;
}
.bg-green {
	background-color: @background_color_6;
}
.green-text {
	color: @color_9;
}
.blue-text {
	color: @color_9;
}
.brand-logo {
	float: left;
	margin-top: -17px;
	margin-left: 13px;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.minimize {
	z-index: 1001;
}
.online-status {
	bottom: 0;
	right: 50px;
	margin-left: -200px;
	overflow: hidden;
	padding: 10px 15px;
	position: fixed;
	width: 200px;
	z-index: 1001;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	a {
		color: @color_9;
		text-decoration: none;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		&:hover {
			color: @color_5;
			text-decoration: none;
		}
		i {
			margin-top: 5px;
		}
	}
}
.online-status.toggled {
	bottom: -50px;
}
.brand-title {
	margin-left: 5px;
}
.maximize {
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}
#chat-content {
	bottom: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.fixedContent {
	float: left;
	background: #d3d3d3;
	background: -moz-linear-gradient(top, #d3d3d3 0%, #f9f9f9 100%);
	background: -webkit-linear-gradient(top, #d3d3d3 0%,#f9f9f9 100%);
	background: linear-gradient(to bottom, #d3d3d3 0%,#f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#f9f9f9',GradientType=0 );
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow: auto;
	padding: 10px 10px 30px;
	height: -moz-calc(100% - 80px);
	height: -webkit-calc(100% - 80px);
	height: -o-calc(100% - 80px);
	height: calc(100% - 80px);
}
.chatbox {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.userinput {
	color: @color_11;
	width: 100%;
	outline: none;
	display: block;
	resize: none;
	padding: 7px 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: none;
	border-right: none;
}
.messages {
	color: @color_6;
	line-height: 1.28;
	padding: 5px 10px;
	font-size: 14px;
	display: block;
	border-radius: 8px;
	margin-bottom: 10px;
	clear: both;
}
.from-mex {
	float: right;
	background: #daeffd;
	color: @color_12;
	opacity: 0.8;
	border: 1px solid rgba(0, 0, 0, 0.07);
	margin-left: 35px;
}
.from-me {
	position: relative;
	padding: 10px;
	margin: 1em 0 10px;
	color: @color_1;
	background: #e2a129;
	border-radius: 5px;
	float: right;
	min-width: 200px;
	font-size: 12px;
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -8px;
		right: 5px;
		width: 0;
		border-width: 0 10px 10px 0;
		border-style: solid;
		border-color: @border_color_1;
	}
}
.to-mex {
	float: left;
	background: #FFFFFF;
	color: @color_12;
	position: relative;
	opacity: 0.8;
	border: 1px solid #ddd;
	margin-right: 35px;
}
.to-me {
	position: relative;
	padding: 10px;
	margin: 1em 0 10px;
	color: @color_3;
	background: #ffffff;
	border-radius: 5px;
	float: left;
	min-width: 200px;
	font-size: 12px;
	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: -8px;
		left: 5px;
		width: 0;
		border-width: 0 0 10px 10px;
		border-style: solid;
		border-color: @border_color_2;
	}
}
.typing {
	padding: 0 20px 5px 0;
	font-size: 11px;
	color: @color_13;
	float: right;
}
.userwrap {
	position: relative;
}
.user {
	padding: 5px;
	font-size: 12px;
	color: @color_14;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 0;
}
.messagetime {
	font-size: 9px;
}
.loadmorebutton {
	clear: both;
	background-color: @background_color_7;
	padding: 5px;
	font-size: 10px;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}
.chatdate {
	clear: both;
	padding: 10px;
	color: @color_4;
	font-size: 9px;
	margin-bottom: 10px;
	text-align: center;
}
.ranktab {
	.red {
		background-color: @background_color_8;
	}
	.orange {
		background-color: @background_color_9;
	}
	.grey {
		background-color: @background_color_5;
		font-weight: bold;
	}
}
.ref_pointer {
	position: absolute;
	margin-left: -30px;
	margin-top: -25px;
	height: 37px;
}
@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		height: 300%;
		top: -100%;
	}
}
@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		width: 300%;
		left: -100%;
	}
}
@media (max-width: 767px) {
	.fullscreen-bg {
		background: url('../../../assets/videos/city_screenshot.jpg') center center / cover no-repeat;
	}
	.fullscreen-bg__video {
		display: none;
	}
	.qrcode {
		width: 100%;
		margin-left: 0 !important;
	}
	.payment-waiting-text {
		text-align: center !important;
	}
}
@media(min-width:481px) and (max-width:767px) {
	#wrapper {
		padding-right: 0;
	}
	#wrapper.toggled {
		padding-right: 0;
		#sidebar-wrapper {
			width: 80px;
			top: 60px;
		}
		#page-content-wrapper {
			position: relative;
			padding-right: 20px;
		}
	}
	#sidebar-wrapper {
		width: 0;
		top: 60px;
	}
	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}
	#chat-wrapper {
		top: 60px;
		height: calc(100% - 60px);
	}
	#chat-wrapper.toggled {
		right: 380px;
		top: 60px;
	}
	.sidebar-nav {
		li {
			a {
				padding-bottom: 9px;
			}
			a.control-btn {
				position: absolute;
				left: 25px;
				top: 8px;
			}
		}
	}
	.name {
		display: none;
	}
	.rank {
		display: none;
	}
	.brand-title {
		display: none;
	}
	.user-online {
		display: none;
	}
	.status {
		position: absolute;
		left: 22px;
		top: 10px;
	}
	.online-status {
		width: 85px;
		right: 5px;
		a {
			i {
				margin-top: 5px;
			}
		}
	}
	.extrastats {
		display: none;
	}
}
@media (max-width:480px) {
	#sidebar-wrapper {
		top: 0;
	}
	#wrapper {
		#sidebar-wrapper {
			li {
				display: none;
			}
		}
	}
	#wrapper.toggled {
		margin-left: -480px;
		padding-right: 480px;
		#sidebar-wrapper {
			li {
				display: block;
			}
			width: 100%;
			top: 0;
		}
		#page-content-wrapper {
			position: relative;
			margin-left: 0;
		}
	}
	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}
	.sidebar-nav {
		width: 100%;
	}
	.user-online {
		display: none;
	}
	.online-status {
		width: 85px;
		right: 5px;
		a {
			i {
				margin-top: 5px;
			}
		}
	}
	#chat-wrapper {
		z-index: 1001;
		width: 100%;
		left: -480px;
		right: 0;
		top: 0;
		height: 100%;
	}
	#chat-wrapper.toggled {
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
	}
}
