﻿@*Open graph meta data*@
<meta property="og:title" content="@ViewBag.Title" />
<meta property="og:type" content="website or what ever your application is" />
<meta property="og:url" content="@ViewBag.Url" />
<meta property="og:image" content="@ViewBag.Image" />
<meta property="og:site_name" content="The default name of your application or site" />
<meta property="og:description" content="@ViewBag.Description" />
