﻿@using Cage.Core
<meta charset="utf-8">
<title>@ViewBag.Title | @CageSettings.SiteName</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="@CageSettings.SiteDesc" content="">