﻿@using Cage.Core
@model Cage.DAL.Db.Models.ViewModels.Member.LayoutMemberViewModel

@{
    ViewBag.Url = HttpContext.Current.Request.RawUrl;
    var action = ViewContext.RouteData.Values["Action"].ToString();
}
<html lang="en">
<head>
    @Html.Partial("_HeadMetaPartial")
    @Html.Partial("_HeadMetaOpenGraphPartial")
    @Html.Partial("_HeadCssMainPartial")
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    @Styles.Render("~/magnific-popup/css")
    @Html.Partial("_HeadIconsPartial")
    @Styles.Render("~/site.member/css")
    @RenderSection("cssPayment", required: false)
    @RenderSection("css", required: false)
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- SIDEBAR -->
        <div class="sidebar">
            <div class="brand">
                <a href="@Url.Action("Index","Home")"><img src="~/images/logo.png" alt="@($"{CageSettings.SiteName} Logo")" class="img-responsive logo"></a>
            </div>
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li class="@Html.IsSelected(actions: "Index", controllers: "Dashboard")"><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-list-alt"></i> <span>Dashboard</span></a></li>
                        <li class="@Html.IsSelected(actions: "Index", controllers: "Passport")"><a href="@Url.Action("Index", "Passport")"><i class="fa fa-ticket"></i> <span>Passport</span></a></li>
                        <li><div class="sidebar-widget"><div class="widget-header"><h6>BANKING SERVICES</h6></div></div></li>
                        <li>
                            <a href="#subBank" data-toggle="collapse" class="collapsed">
                                <i class="fa fa-bank"></i> <span>Community Bank</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                            </a>
                            <div id="subBank" class="collapse ">
                                <ul class="nav">
                                    <li class="@Html.IsSelected(actions: "Index", controllers: "ProvideHelp")">@Html.ActionLink("Provide Help(PH)", "Index", "ProvideHelp")</li>
                                    <li class="@Html.IsSelected(actions: "Index", controllers: "GetHelp")">@Html.ActionLink("Get Help(GH)", "Index", "GetHelp")</li>
                                </ul>
                            </div>
                        </li>
                        <li class="@Html.IsSelected(actions: "Index", controllers: "Share")"><a href="@Url.Action("Index", "Share")"><i class="fa fa-btc"></i> <span>BN Share</span></a></li>
                        <li><div class="sidebar-widget"><div class="widget-header"><h6>NETWORK SERVICES</h6></div></div></li>
                        <li>
                            <a href="#subNtwk" data-toggle="collapse" class="collapsed">
                                <i class="fa fa-sitemap"></i> <span>Hierarchy</span> <i class="icon-submenu lnr lnr-chevron-left"></i>
                            </a>
                            <div id="subNtwk" class="collapse ">
                                <ul class="nav">
                                    <li class="@Html.IsSelected(actions: "Hierarchy", controllers: "Network")">@Html.ActionLink("Network Hierarchy", "Hierarchy", "Network")</li>
                                    <li class="@Html.IsSelected(actions: "Referral", controllers: "Network")">@Html.ActionLink("Referral Hierarchy", "Referral", "Network")</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- NAVBAR -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-btn">
                        <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                            <span class="sr-only">Toggle Navigation</span>
                            <i class="fa fa-bars icon-nav"></i>
                        </button>
                    </div>
                    <div id="navbar-menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                    <i class="lnr lnr-alarm"></i>
                                    <span class="badge bg-danger">5</span>
                                </a>
                                <ul class="dropdown-menu notifications">
                                    <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                                    <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                                    <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                                    <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                                    <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                                    <li><a href="#" class="more">See all notifications</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Basic Use</a></li>
                                    <li><a href="#">Working With Data</a></li>
                                    <li><a href="#">Security</a></li>
                                    <li><a href="#">Troubleshooting</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="@Model.AvatarImageUrl" class="img-circle avatar" alt="Avatar"> <span>@Model.User.UserName</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                                    <li><a href="#" id="logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                                </ul>
                                @using (Html.BeginForm("Logout", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- END NAVBAR -->
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- CONTENTS -->
                    @RenderBody()
                    <!-- END CONTENTS -->
                </div>
            </div>
            <!-- END MAIN CONTENT -->
            <footer>
                <div class="container-fluid">
                    <p class="copyright">&copy; 2017. <a href="@CageSettings.SiteDomain">@CageSettings.SiteName</a></p>
                </div>
            </footer>
        </div>
        <!-- END MAIN -->
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->

    @Scripts.Render("~/jquery/js")
    @Scripts.Render("~/jquery.magnific-popup/js")
    @Scripts.Render("~/moment/js")
    @Scripts.Render("~/bootstrap/js")    
    @Scripts.Render("~/utils/js")
    @Scripts.Render("~/site.global/js")
    @RenderSection("scriptsPayment", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>