﻿@{
    var request = HttpContext.Current.Request;
    var context = request.RequestContext;
    var controller = context.RouteData.Values["Controller"].ToString().ToLower();
    var action = context.RouteData.Values["Action"].ToString().ToLower();

    ViewBag.Url = request.RawUrl;
}
<html lang="en">
<head>
    @Html.Partial("_HeadMetaPartial")
    @Html.Partial("_HeadMetaOpenGraphPartial")
    <!-- css -->

    @Html.Partial("_HeadCssMainPartial")
    @Styles.Render("~/jquery.fancybox/css")
    @Styles.Render("~/jquery.flexslider/css")
    @Styles.Render("~/owl.carousel/css")
    @Styles.Render("~/site.home/css")
</head>
<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt="logo"></a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            @*<li class="@Html.IsSelected(actions: "Contact", controllers: "Home")">@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                            @if (Request.IsAuthenticated)
                            {
                                <li>
                                    @Html.ActionLink("Dashboard", "Index", "Dashboard")
                                </li>
                                <li>
                                    <a href="#" id="logout">Logout</a>
                                </li>

                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink("Login", "Login", "Account", new { Area = "" }, new { id = "loginLink" })
                                </li>
                                <li>
                                    @Html.ActionLink("Sign Up", "Register", "Account", new { Area = "" }, new { id = "registerLink" })
                                </li>
                            }
                            @using (Html.BeginForm("Logout", "Account", null, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->   
        @if (controller == "home" && action == "index")
        {
            @RenderBody()
        }
        else
        {
            @Html.Partial("Home/_HeadLinePartial")
            <section id="content">
                <div class="container">

                    <!--<script>
                        alert("optional");
                    </script>-->

                    @RenderBody()
                </div>
            </section>
        }

        <!-- start footer -->
        <footer>
            @*<div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Our Contact</h5>
                                <address>
                                    <strong>Core company Inc</strong><br>
                                    JC Main Road, Near Silnile tower<br>
                                    Pin-21542 NewYork US.
                                </address>
                                <p>
                                    <i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
                                    <i class="icon-envelope-alt"></i> email@domainname.com
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Quick Links</h5>
                                <ul class="link-list">
                                    <li><a href="#">Latest Events</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy policy</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Latest posts</h5>
                                <ul class="link-list">
                                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                    <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                    <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Recent News</h5>
                                <ul class="link-list">
                                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
                                    <li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
                                    <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>
                                    <span>© Core Site All right reserved. Template By </span><a href="http://Templateq.com" target="_blank">Templateq</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="social-network">
                                <li><a href="#" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-placement="top" title="" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" data-placement="top" title="" data-original-title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
    </div>
    <a href="#" class="scrollup" style="display: none;"><i class="fa fa-angle-up active"></i></a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fancybox")
    @Scripts.Render("~/jquery.flexslider/js")
    @Scripts.Render("~/owl.carousel/js")
    @Scripts.Render("~/utils/js")
    @Scripts.Render("~/site.global/js")
    @Scripts.Render("~/site.home/js")
    @RenderSection("scripts", required: false)
</body>
</html>