﻿@using Microsoft.AspNet.Identity

@{
    var path = ViewContext.RequestContext.HttpContext.Request.Path;

    if (Request.IsAuthenticated)
    {

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@($"{User.Identity.GetUserName()}でログイン中") <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">アカウント設定</li>
                <li>
                    @Html.ActionLink("設定", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">ログオフ</a>
                    }
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">管理者メニュー <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("ログイン", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                <li>@Html.ActionLink("登録", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            </ul>
        </li>
    }

}