﻿<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--<script>
                    alert("optional");
                </script>-->
                <h2 class="pageTitle">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
</section>