﻿@using Cage.Core
@model Cage.DAL.Db.Models.ViewModels.Member.DashboardMembersSlotViewModel

<div class="panel">
    <header class="panel-heading bg-primary">
        <div class="widget-profile-info">
            <div class="profile-picture">
                <img src="@Model.UserDetails.UserClassImageUrl" style="background-color: #FFF;">
            </div>
            <div class="profile-info">
                <h4 class="name text-weight-semibold">@Model.User.UserName</h4>
                <h5 class="role">@Model.UserDetails.UserClassDisp</h5>

                <div class="profile-footer">
                    <span class="flash" style="display: inline; opacity: 0.695687;">
                        @*TODO: MaxUserClass*@
                        @if (Model.UserDetails.UserClass < CageCode.MaxUserClass)
                        {
                            <a href="/members/assistant" class="text-default" style="font-size: 20px !important; opacity: 1 !important">@($"Upgrade To {Model.UserDetails.NextUserClassDisp}")</a>
                        }
                        else
                        {
                            <a href="/members/assistant" class="text-default" style="font-size: 20px !important; opacity: 1 !important">@($"Upgrade To {Model.UserDetails.NextUserClassDisp}")</a>
                        }
                    </span>
                </div>
            </div>
        </div>

    </header>
    <div id="dada" class="panel-body">
        <table class="table mb-none">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Class</th>
                    <th style="text-align: center;">Member Slot</th>
                    <th style="text-align: right;">Potential <span class="fa fa-bitcoin"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="primary moreinfo" data-toggle="collapse" data-target=".class1" data-parent="#dada">
                    <td><span class="fa fa-plus-square-o"></span></td>
                    <td>Immigrant</td>
                    <td align="center">0/3</td>
                    <td align="right">0.45</td>
                </tr>
                <tr class="class1 collapse">
                    <td colspan="5">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Bonus &amp; Entitlements</p>
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-ASIISTANCE.png" width="50" data-original-title="Provide Assistance">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-REGION-BANK.png" width="50" data-original-title="Region Bank">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-PASPORT-10.png" width="50" data-original-title="Passport Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/NEW-BLACK-DIVIDEND-10.png" width="50" data-original-title="PH Referral">
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right" style="height: 80px; overflow: hidden; width: 95px;">
                                        <img src="/assets/images/class/1.png" width="120" style="margin-top: -20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class=" moreinfo" data-toggle="collapse" data-target=".class2" data-parent="#dada">
                    <td><span class="fa fa-plus-square-o"></span></td>
                    <td>Visa Holder</td>
                    <td align="center">0/9</td>
                    <td align="right">4.05</td>
                </tr>
                <tr class="class2 collapse">
                    <td colspan="5">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Bonus &amp; Entitlements</p>
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-PASPORT-5.png" width="50" data-original-title="Passport Referral">
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right" style="height: 80px; overflow: hidden; width: 95px;">
                                        <img src="/assets/images/class/2.png" width="120" style="margin-top: -20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class=" moreinfo" data-toggle="collapse" data-target=".class3" data-parent="#dada">
                    <td><span class="fa fa-plus-square-o"></span></td>
                    <td>Permanent Resident</td>
                    <td align="center">0/27</td>
                    <td align="right">12.15</td>
                </tr>
                <tr class="class3 collapse">
                    <td colspan="5">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Bonus &amp; Entitlements</p>
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-GIVE-BACK.png" width="50" data-original-title="Receive Give Back">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-PASPORT-3.png" width="50" data-original-title="Passport Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-FLEX-PAIRING-0.5.png" width="50" data-original-title="Pairing Bonus">
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right" style="height: 80px; overflow: hidden; width: 95px;">
                                        <img src="/assets/images/class/3.png" width="120" style="margin-top: -20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class=" moreinfo" data-toggle="collapse" data-target=".class4" data-parent="#dada">
                    <td><span class="fa fa-plus-square-o"></span></td>
                    <td>Citizen</td>
                    <td align="center">0/81</td>
                    <td align="right">72.90</td>
                </tr>
                <tr class="class4 collapse">
                    <td colspan="5">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Bonus &amp; Entitlements</p>
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-PASPORT-1.png" width="50" data-original-title="Passport Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/NEW-BLACK-DIVIDEND-5.png" width="50" data-original-title="PH Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-FLEX-PAIRING-1.png" width="50" data-original-title="Pairing Bonus">
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right" style="height: 80px; overflow: hidden; width: 95px;">
                                        <img src="/assets/images/class/4.png" width="120" style="margin-top: -20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class=" moreinfo" data-toggle="collapse" data-target=".class5" data-parent="#dada">
                    <td><span class="fa fa-plus-square-o"></span></td>
                    <td>Ambassador</td>
                    <td align="center">0/243</td>
                    <td align="right">291.60</td>
                </tr>
                <tr class="class5 collapse">
                    <td colspan="5">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Bonus &amp; Entitlements</p>
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-PASPORT-0.5.png" width="50" data-original-title="Passport Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/NEW-BLACK-DIVIDEND-3.png" width="50" data-original-title="PH Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-FLEX-PAIRING-3.png" width="50" data-original-title="Pairing Bonus">
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right" style="height: 80px; overflow: hidden; width: 95px;">
                                        <img src="/assets/images/class/5.png" width="120" style="margin-top: -20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class=" moreinfo" data-toggle="collapse" data-target=".class6" data-parent="#dada">
                    <td><span class="fa fa-plus-square-o"></span></td>
                    <td>Senator</td>
                    <td align="center">0/729</td>
                    <td align="right">1,530.90</td>
                </tr>
                <tr class="class6 collapse">
                    <td colspan="5">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Bonus &amp; Entitlements</p>
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-PASPORT-0.1.png" width="50" data-original-title="Passport Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/NEW-BLACK-DIVIDEND-1.png" width="50" data-original-title="PH Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-FLEX-PAIRING-5.png" width="50" data-original-title="Pairing Bonus">
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right" style="height: 80px; overflow: hidden; width: 95px;">
                                        <img src="/assets/images/class/6.png" width="120" style="margin-top: -20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class=" moreinfo" data-toggle="collapse" data-target=".class7" data-parent="#dada">
                    <td><span class="fa fa-plus-square-o"></span></td>
                    <td>Vice President</td>
                    <td align="center">0/2187</td>
                    <td align="right">6,561.00</td>
                </tr>
                <tr class="class7 collapse">
                    <td colspan="5">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Bonus &amp; Entitlements</p>
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-PASPORT-0.05.png" width="50" data-original-title="Passport Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/NEW-BLACK-DIVIDEND-0.5.png" width="50" data-original-title="PH Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-FLEX-PAIRING-7.png" width="50" data-original-title="Pairing Bonus">
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right" style="height: 80px; overflow: hidden; width: 95px;">
                                        <img src="/assets/images/class/7.png" width="120" style="margin-top: -20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr class=" moreinfo" data-toggle="collapse" data-target=".class8" data-parent="#dada">
                    <td><span class="fa fa-plus-square-o"></span></td>
                    <td>President</td>
                    <td align="center">0/6561</td>
                    <td align="right">29,524.50</td>
                </tr>
                <tr class="class8 collapse">
                    <td colspan="5">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Bonus &amp; Entitlements</p>
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-PASPORT-0.01.png" width="50" data-original-title="Passport Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/NEW-BLACK-DIVIDEND-0.1.png" width="50" data-original-title="PH Referral">
                                    <img data-toggle="tooltip" data-placement="top" title="" src="/assets/images/badges/BLACK-FLEX-PAIRING-10.png" width="50" data-original-title="Pairing Bonus">
                                </div>
                                <div class="col-lg-4">
                                    <div class="pull-right" style="height: 80px; overflow: hidden; width: 95px;">
                                        <img src="/assets/images/class/8.png" width="120" style="margin-top: -20px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>