﻿@model Cage.DAL.Db.Models.ViewModels.Member.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Image = "Display page iamge if you have one otherwise display address to default";
    ViewBag.Description = "The description you want";
}
@section css{
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
}
@section scripts{
    <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>    
}

@if (Model.Announce != null)    
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-bullhorn"></span>@Model.Announce.Subject</h3>
                    <p class="panel-subtitle">@Model.Announce.DispPublishDate</p>
                </div>
                <div class="panel-body">
                    <p>@Model.Announce.Message</p>
                </div>
                <div class="panel-footer">
                    <a href="" class="text-info">Read More News</a>
                </div>
            </div>
        </div>
    </div>
}

@if (!Model.UserDetails.HasPosition)   
{
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Wellcome to our Bank.</h3>
                    <p class="panel-subtitle">You can be a member of the community by upgrading.</p>
                </div>
                <div class="panel-body flash">
                    <a href="@Url.Action("Position", "Upgrade")" class="btn btn-success"><span class="fa fa-lightbulb-o"></span> Upgrade to member.</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
 
        </div>
    </div>
}

@if (!Model.UserDetails.HasPledgePh)  
{
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Provide Help(PH)</h3>
                    <p class="panel-subtitle">You can earn 1% profit each day by donating.</p>
                </div>
                <div class="panel-body flash">
                    <a href="@Url.Action("Index", "ProvideHelp")" class="btn btn-success"><span class="fa fa-lightbulb-o"></span> Get profit.</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
}

<div class="row">
    <div class="col-lg-6">

        @* same as HasPosition *@
        @if (Model.AssistanceGivebackSummaryView.SentAssistance > 0)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @*TODO:chart
                            <div class="ct-chart ct-perfect-fourth graph"></div>
                        <hr class="solid short mt-lg">
                    *@
                    <div class="row">
                        <div class="col-md-4">
                            <div class="h4 text-weight-bold mb-none mt-lg">
                                <span class="fa fa-bitcoin"></span>@Model.AssistanceGivebackSummaryView.SentAssistance
                            </div>
                            <p class="text-xs text-muted mb-none">Sent Assistance</p>
                        </div>
                        <div class="col-md-4">
                            <div class="h4 text-weight-bold mb-none mt-lg">
                                <span class="fa fa-bitcoin"></span>@Model.AssistanceGivebackSummaryView.ReceivedAssistance
                            </div>
                            <p class="text-xs text-muted mb-none">Received Assistance</p>
                        </div>
                        <div class="col-md-4">
                            <div class="h4 text-weight-bold mb-none mt-lg">
                                <span class="fa fa-bitcoin"></span>@Model.AssistanceGivebackSummaryView.ReceivedGiveback
                            </div>
                            <p class="text-xs text-muted mb-none">Received Giveback</p>
                        </div>
                        <div class="col-md-4">
                            <div class="h4 text-weight-bold mb-none mt-lg">@Model.AssistanceGivebackSummaryView.MemberCount</div>
                            <p class="text-xs text-muted mb-none">Your Members</p>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.UserDetails.HasPosition && Model.UserDetails.HasPledgePh)          
        {
            @Html.Partial("_PanelMembersSlotPartial", Model.MembersSlotViewModel)
        }

    </div>

    <div class="col-lg-6">

        <div class="row">
            @if (Model.UserDetails.HasPledgePh)                             
            {
                <div class="col-md-12 col-xl-12">
                    <div class="panel">
                        <div class="panel-body bg-primary">
                            <div class="widget-summary widget-summary-md">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon" style="width:110px;height:110px;border-radius:110px;padding-top:18px;margin-top:18px;">
                                        <i class="fa fa-line-chart fa-2x"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Total PH</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.PhViewModel.TotalPh</strong>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="summary">
                                        <h4 class="title">Dividend</h4>
                                        <div class="info">
                                            <strong class="amount" id="profit_bonus">@Model.PhViewModel.TotalDividend</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (Model.PairingViewModel.CurrentPairing > 0)                                         
            {
                <div class="col-md-12 col-xl-12">
                    <div class="panel">
                        <div class="panel-body panel-featured-top panel-featured-primary">
                            <div class="widget-summary widget-summary-md">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary" style="width: 110px; height: 110px; border-radius: 110px; padding-top: 18px; margin-top: 18px;">
                                        <i class="fa fa-sitemap fa-2x"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Current Pairing</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.PairingViewModel.CurrentPairing</strong>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="summary">
                                        <h4 class="title">Next Pairing in</h4>
                                        <div class="info">
                                            <strong class="amount"><span id="ms_timer" class="style size_xs" style="background: transparent; color: rgb(0, 0, 0); border-color: transparent;">@Model.PairingViewModel.NextPairingDateStr</span></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        @if (Model.UserDetails.HasPledgePh)        
        {
            <div class="row">
                <div class="col-md-4 ">
                    <div class="panel">
                        <div class="panel-body panel-featured-left panel-featured-primary" style="background-color:#bababa;">
                            <div class="widget-summary widget-summary-sm">
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Passport Referral (PR)</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.UserShareViewModel.PassportReferral</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="panel">
                        <div class="panel-body panel-featured-left panel-featured-primary" style="background-color:#CCCCCC;">
                            <div class="widget-summary widget-summary-sm">

                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Passport Overiding (PO)</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.UserShareViewModel.PassportOveriding</strong>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="panel">
                        <div class="panel-body panel-featured-left panel-featured-primary" style="background-color:#bababa;">
                            <div class="widget-summary widget-summary-sm">
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">PH Capital (PHC)</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.UserShareViewModel.PhCapital</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 ">
                    <div class="panel">
                        <div class="panel-body panel-featured-left panel-featured-primary" style="background-color:#bababa;">
                            <div class="widget-summary widget-summary-sm">
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">PH Dividend (PHD)</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.UserShareViewModel.PhDividend</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="panel">
                        <div class="panel-body panel-featured-left panel-featured-primary" style="background-color:#bababa;">
                            <div class="widget-summary widget-summary-sm">
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">PH Referral (PHR)</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.UserShareViewModel.PhReferral</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="panel">
                        <div class="panel-body panel-featured-left panel-featured-primary" style="background-color:#CCCCCC;">
                            <div class="widget-summary widget-summary-sm">
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">PH Overiding (PHO)</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.UserShareViewModel.PhOveriding</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="col-md-8 ">
                        <div class="panel panel-featured panel-featured-primary">
                            <div class="panel-heading" style="text-align:center;">
                                <span class="text-primary">BR Shares</span>
                            </div>
                            <div class="panel-body">
                                <div class="chart chart-md" id="morrisDonut"><svg height="350" version="1.1" width="316" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative; left: -0.65625px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#e2a129" d="M158,273.6666666666667A98.66666666666667,98.66666666666667,0,1,0,133.69381134391563,79.3740605059174" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#e2a129" stroke="#ffffff" d="M158,276.6666666666667A101.66666666666667,101.66666666666667,0,1,0,132.95477182396712,76.46651504832704L121.54071701587344,31.561090758876105A148,148,0,1,1,158,323Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#333333" d="M133.69381134391563,79.3740605059174A98.66666666666667,98.66666666666667,0,0,0,65.96026856627722,210.54995005227568" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#333333" stroke="#ffffff" d="M132.95477182396712,76.46651504832704A101.66666666666667,101.66666666666667,0,0,0,63.161763218630256,211.63086069575704L24.604578428827466,226.52340733927792A143,143,0,0,1,122.77244954912095,36.406999854860004Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#666666" d="M65.96026856627722,210.54995005227568A98.66666666666667,98.66666666666667,0,0,0,69.12703960591372,217.8568316829684" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#666666" stroke="#ffffff" d="M63.161763218630256,211.63086069575704A101.66666666666667,101.66666666666667,0,0,0,66.42482121555298,219.15991102468027L29.194256726138462,237.11344862159945A143,143,0,0,1,24.604578428827466,226.52340733927792Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#e2a129" d="M69.12703960591372,217.8568316829684A98.66666666666667,98.66666666666667,0,0,0,71.41199862322867,222.3035847340068" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#e2a129" stroke="#ffffff" d="M66.42482121555298,219.15991102468027A101.66666666666667,101.66666666666667,0,0,0,68.77925533812414,223.74186940497322L32.50590341001724,243.5582359827328A143,143,0,0,1,29.194256726138462,237.11344862159945Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#333333" d="M71.41199862322867,222.3035847340068A98.66666666666667,98.66666666666667,0,0,0,147.98627388158053,273.157202488337" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#333333" stroke="#ffffff" d="M68.77925533812414,223.74186940497322A101.66666666666667,101.66666666666667,0,0,0,147.68180247933128,276.1417120234554L143.48686315945287,317.26162117397496A143,143,0,0,1,32.50590341001724,243.5582359827328Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#666666" d="M147.98627388158053,273.157202488337A98.66666666666667,98.66666666666667,0,0,0,152.97118273701741,273.53842960006335" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#666666" stroke="#ffffff" d="M147.68180247933128,276.1417120234554A101.66666666666667,101.66666666666667,0,0,0,152.81827950942673,276.5345305000653L150.71161281817726,317.81414290009184A143,143,0,0,1,143.48686315945287,317.26162117397496Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#e2a129" d="M152.97118273701741,273.53842960006335A98.66666666666667,98.66666666666667,0,0,0,157.9690029529943,273.66666179766185" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#e2a129" stroke="#ffffff" d="M152.81827950942673,276.5345305000653A101.66666666666667,101.66666666666667,0,0,0,157.96806047521372,276.6666616496178L157.95507522579243,317.9999929432329A143,143,0,0,1,150.71161281817726,317.81414290009184Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="158" y="165" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: 800; font-stretch: normal; font-size: 15px; line-height: normal; font-family: Arial;" font-size="15px" font-weight="800" transform="matrix(1.2764,0,0,1.2764,-43.6701,-48.6475)" stroke-width="0.78344946509009"><tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">PH Capital (PHC)</tspan></text><text x="158" y="185" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: Arial;" font-size="14px" transform="matrix(2.0556,0,0,2.0556,-166.7778,-186.8333)" stroke-width="0.4864864864864864"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10</tspan></text></svg></div>

                            </div>

                        </div>
                    </div>*@

            </div>

            <div class="row">
                <div class="col-md-4 ">
                    <div class="panel">
                        <div class="panel-body panel-featured-left panel-featured-primary" style="background-color:#CCCCCC;">
                            <div class="widget-summary widget-summary-sm">
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <h4 class="title">Flex Pairing (FP)</h4>
                                        <div class="info">
                                            <strong class="amount">@Model.UserShareViewModel.FlexPairing</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            @*<div class="row" style="display:none;">

                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body bg-dark">
                                <div class="widget-summary">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon bg-primary">
                                            <i class="fa fa-life-ring"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Available BR Shares</h4>
                                            <div class="info">
                                                <strong class="amount">0.74985243</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        }

    </div>
</div>
